#drum-machine {
    display: flex;
    margin: 5rem auto;
    padding: 1rem;
    width: 50%;
    border: 1px solid #000000;
    justify-content: space-around;
    align-items: center;
    max-width: 624px;
    background-color: #000000;
    border-radius: 1rem;
}

#drum-keys {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
}

#drum-controls {
    display: flex;
    justify-content: center;
    width: 50%;
}

.drum-pad {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 2rem;
    border: 4px solid #600724;
    padding: 1rem;
    margin: 0.5rem;
    background-color: #a8a5a5;
    color: #ffffff;
    border-radius: 0.5rem;
    font-size: 1.2rem;
}

#display {
    width: 70%;
    padding: 1rem;
    font-size: 1.5rem;
    background-color: #bcdc5a;
    min-height: 28.8px;
}