#drum-machine {
    display: flex;
    margin: 7rem auto;
    padding: 2rem;
    border: 1px solid #000000;
    justify-content: space-around;
    align-items: center;
    max-width: 624px;
    background-color: #000000;
    border-radius: 1rem;
    position: relative;
}

#drum-keys {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
}

#drum-controls {
    display: flex;
    justify-content: center;
    width: 50%;
}

.drum-pad {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    width: 4rem;
    border: 5px solid #600724;
    padding: 2rem;
    margin: 0.5rem;
    background-color: #a8a5a5;
    color: #ffffff;
    border-radius: 0.5rem;
    font-size: 1.5rem;
}

#display {
    width: 70%;
    padding: 1rem;
    font-size: 1.5rem;
    min-height: 60.8px;
}

#power {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#power-btn {
    margin: 0;
    padding: 0px;
    height: 27px;
    border-radius: 50%;
    border: none;
    background: black;
}

#power-icon {
    height: 1.7rem;
    padding: 5px;
    border-radius: 50%;
}

@media screen and (max-width:700px) {
    #drum-machine {
        flex-direction: column;
        max-width: 365px;
    }

    #drum-keys {
        width: 100%;
        margin-top: 1rem;
    }

    #drum-controls {
        width: 100%;
        margin-top: 2rem;
    }
}